<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="row">
          <div class="col-sm-4">
            <div class="card-body">
              <h5><a href="#" class="card-title text-dark">Evento en vivo</a></h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
              </p>
              <%=link_to 'Ver más', '#', class: 'card-link'%>
              <br />
              <div class="row media-buttons">
                <div class="fb-share-button" data-href="#" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
                <a class="twitter-share-button" target="_blank" rel="#" href="https://twitter.com/intent/tweet?text=Estoy%20viendo%20esta%20transmisi%C3%B3n%20en%20vivo!%20%23akia" data-size="large">Tweet</a>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: es_ES</script><script type="IN/Share" data-url="#"></script>
              </div>

              <a href="mailto:enteryour@addresshere.com?subject=Transmisi%C3%B3n%20en%20vivo Name&body=Link a la transmisión del evento, agrega una breve descripción">Recomienda</a>
            </div>
          </div>
          <div class="col-sm-8">
            <p class="card" style="height:100%;background-color:#999999">
              <br /><br /> Video
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />


</div>
